.RegContainer{
    width: 360px;
    margin: 0 0 10px 460px;
}
.Container{
    width: 360px;
    margin: 120px 0 100px 460px;
}
.form {
    max-width: 250px;
    padding: 5% 15%;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }
    .form input {
        background: #f2f2f2;
        width: 100%;
        border: 0;
        border-radius: 12px;
        margin: 0 0 20px;
        padding: 15px;
        box-sizing: border-box;
        }
        .form input :focus{
            border: 2px solid blue;
        }
    .form button {
    background-color: darkcyan;
    width: 30%;
    border-radius: 12px;
    border: 0;
    padding: 10px;
    color: white;
    cursor: pointer;
    }
    a:visited{
          color: rgb(71, 181, 44);
    }
    a:hover{
        color: #ea1109;
    }
.error{
    color: #ea1109; 
    text-align: left;
    font-size: 12px;
    margin: -15px 0 5px 10px; 
    display: block;
    height: 15px;
}
.marginerror{
    color: #ea1109;
    font-size: 12px;
}
